
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(224, 229, 231);
    }

    
.topnav
    {
    background-color: #282A35;
    color: #f1f1f1;
    position: -webkit-sticky;
    letter-spacing: 1px;
    height: 42px; 
    padding: 0;
    width: 100%;
    position: sticky;
    top:0;
    font-size:14px;
    font-family: 'Source Sans Pro', sans-serif;
    }

.topnav ul li
    {
    padding:10px;
     /* give space between list items */
    display:inline-block; /*Display all the list item in same line
    with Block */
    }
.topnav a{
    color:white; /* Change the color of link in white color.*/
    }
.topnav a{
    text-decoration: none; /* Remove underline given in links */
    }
.topnav a:hover{
    background-color: #04AA6D!important;
    padding: 10px;
    padding-bottom:17px ;

    }

    .purple-btn{

        width: 130px;
        height: 47px;
        font-size: 15;
        background-color: #9763f6!important;
        padding:5px;
        border-radius: 50px;
        text-align: center;
        margin-left: 20vw;
        border: none;
    
    }
    .pink-btn{
        width: 150px;
        height:47px;
        font-size: 15px;
        background-color: #FFC0C7;
        padding:15px 32px ;
        border-radius: 50px;
        margin-left: 10px;
        text-align: center;
        border: none;
    }   
    .yellow-btn{
        width: 170px;
        height:47px;
        font-size: 14px;
        background-color: #FFF4A3!important;
        margin-left: 10px;
        padding:15px 32px ;
        border-radius: 50px;
        border: none;
        text-align: center;
    
    }
     
    .green-btn{
        width: 150px;
        height:47px;
        font-size: 14px;
        background-color:#04AA6D!important;
        padding:15px 32px ;
        margin-left: 10px;
        border-radius: 50px;
        border: none;
        text-align: center;
    
    }
    .verticalnav {
        text-decoration: none;
    }
    
    .header-right{
       align-items: center; 
       display: flex;
    }
    .header-right a{
        display: flex;
        align-items: center;
        padding: 10px;
        margin-top: 25px;
        font-size: 18px;
        color: #282A35;
      text-decoration-line:none ;
    }
    .header-right a:hover{
background-color: #04AA6D;
height: 20px;
}
button:hover{
    background-color: #04AA6D;
    height: 9vh;
}
 